/* layout */
body {
  background-color: rgb(228, 241, 241);
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  gap: 40px;
  justify-content: center;
}

/* text column */
#text-col {
  max-width: 350px;
  text-align: center;
}

/* link/box column */
#links-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* boxes */
.expandable {
  width: 150px;
  height: 150px;
  background-color: rgb(235, 246, 255);
  border: 5px solid rgb(252, 246, 239);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  cursor: pointer;

  /* smooth transform scaling */
  transform: scale(1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* scale purely in CSS too */
.expandable:hover {
  transform: scale(1.4);
  background-color: rgb(220, 235, 255);
}