body {
  background-color: rgb(228, 241, 241);
  text-align: center;
  display: flex;
  align-content: center;
}
main {
  display: flex;
  justify-content: center;
  row-gap: 20px;
}
.expandable {
  width: 150px;
  height: 150px;
  background-color: rgb(235, 246, 255);
  border-color: rgb(252, 246, 239);
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: default;
}
