body {
  background-color: rgb(228, 241, 241);
  text-align: center;
}

#expandable {
  width: 150px;
  height: 150px;
  background-color: rgb(235, 246, 255);
  border-color: rgb(252, 246, 239);
  border: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}